nav {
  background-color: #e3f2fd;
}

.navbar-brand {
  font-size: 36px;
  margin-right: 25px;
  color: #7868e6;
  font-family: "Pacifico", cursive;
  letter-spacing: 2px;
  text-decoration: underline;
}

.search-bar {
  position: absolute;
  right: 20px;
}

/* li a:hover {
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
} */

a {
  cursor: pointer;
}

.suggestions {
  z-index: 10;
  position: absolute;
  display: list-item;
  right: 20px;
  top: 60px;
  width: 290px;
  list-style-type: none;
}

.suggestions li {
  text-decoration: none;
}

.suggestions li a {
  text-decoration: none;
}

.suggestions li a:hover {
  /* text-decoration: none */
  cursor: pointer;
  background-color: #ddd;
}
