nav {
  background-color: #e3f2fd;
}

.navbar-brand {
  font-size: 36px;
  margin-right: 25px;
  color: #7868e6;
  font-family: "Pacifico", cursive;
  letter-spacing: 2px;
  text-decoration: underline;
}

.search-bar {
  position: absolute;
  right: 20px;
}

/* li a:hover {
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
} */
