<div class="product-lis">
  <h1>All products list</h1>

  <p *ngIf="productDeleteMessage" class="delete-message alert alert-warning">
    {{ productDeleteMessage }}
  </p>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>price</th>
          <th>Color</th>
          <th>catagory</th>
          <th>description</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr class="py-0" *ngFor="let item of productsList">
          <td class="p-3"><img src="{{ item.image }}" /></td>
          <td class="p-3">{{ item.name }}</td>
          <td class="p-3">{{ item.price | currency : "INR" }}</td>
          <td class="p-3">{{ item.color }}</td>
          <td class="p-3">{{ item.catagory }}</td>
          <td class="p-3 description">{{ item.description }}</td>
          <td class="p-3">
            <div class="buttons">
              <button class="btn btn-danger" (click)="deleteProduct(item.id)">
                Delete
              </button>

              <a routerLink="/seller-update-product/{{ item.id }}">
                <button class="btn btn-info">Update</button>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
