/* th {
  justify-content: center;
} */

img {
  width: 150px;
}

tr {
  min-height: 200px;
}
/*
.description {
  overflow: scroll;
} */

.delete-message {
  width: 60%;
  position: fixed;
  top: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
