.seller-auth {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  margin-top: 25px;
}

/* .signup-heading {
  text-align: center;
  margin-bottom: 40px;
} */

input {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

.d-grid {
  margin-top: 20px;
}

.stretched-link {
  cursor: pointer;
}

.stretched-link::after {
  position: relative;
}

.login-error {
  color: red;
  margin: 0;
  padding: 0;
}

.password {
  margin-bottom: 0;
}
