<div class="seller-auth border shadow">
  <div *ngIf="!showLogin" class="signup">
    <h2 class="signup-heading">Signup as a seller</h2>

    <form #sellerSignup="ngForm" (ngSubmit)="signup(sellerSignup.value)">
      <label for="name">Name</label>
      <input
        placeholder="Enter your name"
        class="form-control"
        type="text"
        name="name"
        id="name"
        ngModel
      />

      <label for="email">Email</label>
      <input
        placeholder="Enter email address"
        class="form-control"
        type="email"
        name="email"
        id="email"
        ngModel
      />

      <label for="pword">Password</label>
      <input
        placeholder="Enter Password"
        class="form-control"
        type="password"
        name="password"
        id="pword"
        ngModel
      />

      <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-outline-primary">
          Sign up
        </button>
      </div>

      <br />

      <a class="stretched-link" (click)="openLogin()"
        >Existing User? Login here</a
      >
    </form>
  </div>

  <!-- Login Form -->

  <div *ngIf="showLogin" class="login">
    <h2 class="login-heading">Login as a seller</h2>

    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
      <label for="lemail">Email</label>
      <input
        placeholder="Enter email address"
        class="form-control"
        type="email"
        name="email"
        id="lemail"
        ngModel
      />

      <label for="lpword">Password</label>
      <input
        placeholder="Enter Password"
        class="form-control"
        type="password"
        name="password"
        id="lpword"
        ngModel
      />

      <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-outline-primary">
          Login
        </button>
      </div>
    </form>

    <br />

    <a class="stretched-link" (click)="openSignup()"
      >Don't have an account? Signup here</a
    >
  </div>
</div>
