<!-- User-auth works -->

<div class="user-auth border shadow">
  <!-- Signup form -->
  <div *ngIf="!showLogin" class="signup">
    <h2 class="signup-heading">User signup</h2>

    <form #userSignup="ngForm" (ngSubmit)="signup(userSignup.value)">
      <label for="name">Name</label>
      <input
        placeholder="Enter User Name"
        class="form-control"
        type="text"
        name="name"
        id="name"
        ngModel
      />

      <label for="email">Email</label>
      <input
        placeholder="Enter email address"
        class="form-control"
        type="email"
        name="email"
        id="email"
        ngModel
      />

      <label for="pword">Password</label>
      <input
        placeholder="Enter Password"
        class="form-control"
        type="password"
        name="password"
        id="pword"
        ngModel
      />

      <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-outline-primary">
          Sign up
        </button>
      </div>

      <br />

      <a (click)="openLogin()" class="stretched-link"
        >Existing User? Login here</a
      >
    </form>
  </div>

  <!-- Login Form -->
  <div class="login" *ngIf="showLogin">
    <h2 class="login-heading">Login as a user</h2>

    <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
      <label for="lemail">Email</label>
      <input
        placeholder="Enter email address"
        class="form-control"
        type="email"
        name="email"
        id="lemail"
        ngModel
        #email="ngModel"
        required
        email
      />
      <p *ngIf="email.invalid && email.touched" class="login-error">
        <small>** Please enter valid email address</small>
      </p>

      <label for="lpword">Password</label>
      <input
        placeholder="Enter Password"
        class="form-control password"
        type="password"
        name="password"
        id="lpword"
        ngModel
        #password="ngModel"
        required
      />
      <p *ngIf="password.invalid && password.touched" class="login-error">
        <small>** Please enter valid password </small>
      </p>

      <!-- Login Error -->
      <p *ngIf="autherror" class="login-error">
        <small>** Please enter valid email address and password</small>
      </p>
      <!-- Login button -->
      <div class="d-grid">
        <button
          [disabled]="userLogin.invalid"
          type="submit"
          class="btn btn-lg btn-outline-primary"
        >
          Login
        </button>
      </div>
    </form>

    <br />

    <a (click)="openSignup()" class="stretched-link"
      >Don't have an account? Signup here</a
    >
  </div>
</div>
