<!-- <div class="row search-item">
  <div class="col-sm-3">
    <img src="" alt="" />
  </div>

  <div class="col-sm-8 details">
    <h6>Product name</h6>
    <p><b>Price:10000</b></p>
    <p><span>color</span><span>catagory</span></p>
    <p>Product search ui</p>
  </div>
</div> -->

<div class="card mb-3 mt-3 p-4">
  <div class="row g-0">
    <div class="col-md-3">
      <img
        src="https://rukminim1.flixcart.com/image/416/416/xif0q/cycle/m/n/0/chaze-by-milind-soman-sx-20-czbc2704-27-5t-with-dual-disc-27-5-original-imaghj6uawjucd2y.jpeg?q=70"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Product name</h4>
        <p class="card-text">
          <b>Price</b>
        </p>
        <p class="card-text"><span>Color</span><span>Category</span></p>
        <p class="card-text">Product search ui</p>
      </div>
    </div>
  </div>
</div>
