<!-- <div class="row search-item">
  <div class="col-sm-3">
    <img src="" alt="" />
  </div>

  <div class="col-sm-8 details">
    <h6>Product name</h6>
    <p><b>Price:10000</b></p>
    <p><span>color</span><span>catagory</span></p>
    <p>Product search ui</p>
  </div>
</div> -->

<div *ngFor="let item of searchResult" class="card mb-3 mt-3 p-4">
  <div class="row g-0">
    <div class="col-md-3">
      <a routerLink="/details/{{ item.id }}">
        <img src="{{ item.image }}" class="img-fluid rounded-start" alt="..." />
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a class="search-heading text-body" routerLink="/details/{{ item.id }}">
          <h4 class="card-title">{{ item.name }}</h4>
        </a>
        <h5 class="text-body">
          <b>Price: {{ item.price | currency : "INR" }}</b>
        </h5>
        <p class="text-body">
          <span>Color: {{ item.color }}</span>
          <span class="mx-3">Category: {{ item.catagory }}</span>
        </p>
        <p class="card-text">{{ item.description.substring(0, 250) }}</p>
      </div>
    </div>
  </div>
</div>
